{% extends "layout.html" %}

{% block body %}
<p class="mt-5 px-2 text-xl font-black tracking-widest">Video original</p>

<div class="border p-2 rounded shadow-xl grid gap-4">
    <div class="relative">
        <img src="/static/ardillas.png" class="absolute inset-0 bg-center">
        <img src="{{ thumb }}" alt="">
    </div>
    <div class="">
        <p class="text-xl">{{ title }}</p>
        <div class="text-sm text-gray-500">{{ url }}</div>
    </div>
</div>

<div class="mt-4">
    <a href="/"
       class="inline rounded bg-blue-500 p-3 text-center font-bold uppercase tracking-widest text-white transition hover:bg-blue-600 active:scale-95 active:bg-blue-400">
        Volver al inicio
    </a>
</div>

{% if download_url %}

<div class="mt-4 text-4xl font-black">
    Ardillizado con éxito! 🎵🥳
</div>

<div class="mt-4">
    <div class="bg-gray-200 border border-gray-400 px-2 py-4 grid gap-1">
        <p class="px-2 text-xl font-black tracking-widest">{{ title }}</p>

        <div class=""></div>

        <audio controls class="w-full">
            <source src="{{ download_url }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>

        <div class="text-right mt-4">
            <a href="{{ download_url }}"
               target="_blank"
               class="inline rounded bg-red-500 p-3 text-center font-bold uppercase tracking-widest text-white transition hover:bg-red-600 active:scale-95 active:bg-red-400">
                DESCARGAR AHORA
            </a>
        </div>
    </div>

    <div class="mt-5">
        <p class="px-2 text-xl font-black tracking-widest">Compartir Audio</p>
        <div class="overflow-x-scroll h-32 bg-yellow-100 p-2 border border-yellow-800 select-all text-sm" style="max-width: 90vw;">
            <div id="share" class=""></div>
        </div>
        <script>
            document.querySelector('#share').innerText = window.location;

        </script>
    </div>
</div>
{% else %}
<div class="mt-4 text-4xl font-black">

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
         class="w-12 h-12 animate-spin inline">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 00-3.7-3.7 48.678 48.678 0 00-7.324 0 4.006 4.006 0 00-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3l-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 003.7 3.7 48.656 48.656 0 007.324 0 4.006 4.006 0 003.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3l-3 3"/>
    </svg>

    🎵 Ardillizando, espera por favor...
</div>
<script type="text/javascript">
setTimeout(() => {
    window.location.reload()
}, 5000)


</script>
{% endif %}

<div class="py-12"></div>
{% endblock %}


